
.slider .track {
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-pref-height: 15px;
    -fx-border-color: #111111;
    -fx-border-width: 2px;
}
.slider .thumb {
    -fx-background-color: #7b68ee;
    -fx-background-radius: 0;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-effect: null;
}

.slider:hover .thumb {
    -fx-background-color: #b0e0e6;
}

.slider .thumb:pressed {
    -fx-background-color: #ffffff;
}
.label {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 3, 1.0, 1, 1);
    -fx-font-smoothing-type: gray;
}
.toggle-switch {
    -fx-padding: 5px;
}
.toggle-switch .switch {
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.toggle-switch .thumb {
    -fx-background-color: #b52225;
    -fx-background-radius: 0;
}
.toggle-switch:selected .thumb {
    -fx-background-color: #09710e;
}
.toggle-switch:selected .switch {
    -fx-background-color: #8dbb8f;
}